:host {
  .dialog__container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.8;
  }
  .dialog__card {
    padding: 20px;
    background-color: white;
  }
}
